<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Dashboard Page</title>
  </head>
  <body>
    <nav>
      <a href="/"> Home </a>
      <% if(user){ %>
      <a href="/auth/logout"> Log out </a>
      <% } else { %>
      <a href="/auth/login"> Login </a>
      <% } %>
      <a href="/dashboard"> Dashboard </a>
    </nav>

    <h1>This is dashboard page</h1>
    <h2>Welcome, <%= user.username %></h2>
  </body>
</html>
